body{
    margin: 0;
    padding: 0;
    font-family: serif, sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 500px;
    height: 550px;
    margin: 50px auto;
    padding: 50px 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #2fceff, #5768ff);
}
.form{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center ;
}
.input{
    padding: 10px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    outline: none;
}

#search{
    width: 350px;
    height: 30px;
}

.content_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    background-color: white;
}

.button{
    width:  30px;
    height: 30px;
    padding: 0;
    border: none;
}

.image_1{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
    border: none;
    background-color: white;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: monospace;
    font-size: 17px;
    font-weight: 500;
}

.content_img{
    width: 150px;
    height: 150px;
}

.img_2{
    width: 100%;
    height: 100%;
}

.dat{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
}


.text_dat{
    text-align: center;
    font-size: 38px;
    margin: 0;
}

.text_dat:first-child{
    font-size: 55px;
    font-weight: 500;
    letter-spacing: -3px;
}

.content_caracter{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 30px;
}

.caracter{
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-sizing: border-box;
    width: 95px;
    justify-content: center;
    align-items: center;
}

.img_caracter{
    width: 50px;
    height: 50px;
}

.img_caracter_2{
    width: 50px;
    height: 50px;
}

.box_text{
    display: flex;
    flex-direction: column;
}

.caracter_text{
    display: inline-block;
    width: 120px;
    margin: 3px;
    box-sizing: border-box;
}

.caracter_text:first-child{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1px;
}